<template name="admin">
  <div class="col-sm-6">
    <h2 class="heading">Product Administration</h2>
    <div class="form-group">
      <label class="control-label">Product Name</label>
      <input id="productname" type="type" class="form-control input-sm"/>
    </div>
    <div class="form-group">
      <label class="control-label">Category</label>
      <input id="category" type="type" class="form-control input-sm"/>
    </div>
    <div class="form-group">
      <label class="control-label">Description</label>
      <input id="description" type="type" class="form-control input-sm"/>
    </div>
    <div class="form-group">
      <label class="control-label">Price</label>
      <input id="price" type="type" class="form-control input-sm"/>
    </div>
    <div class="form-group">
      <label class="control-label">Rating</label>
      <input id="rating" type="type" class="form-control input-sm"/>
    </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4"></div>
        <div class="control-group">
          <label class="control label"></label>
          <div class="controls">
            <button class="btn btn-info btn-md">
              <i class="fa fa-database"></i>
              Add Product
            </button>
          </div>

        </div>
    </div>
  </div>
</template>
