<template name="header">
  <nav role="navigation" class="navbar navbar-default navbar-fixed-top"> <!--the role allows bootstrap to identify this a navigation -->
    <div class="container-fluid"> <!-- use entire page width -->
      <div class="nav-header">
        <a href="/admin" class="navbar-brand">Marketplace</a>
      </div>
      <div class="collapse navbar-collapse" id="main-nav">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/">Home</a>
          </li>
          {{#if isInRole 'admin'}}
          <li><a href="/admin">Admin</a></li>
          {{/if}}
          <li><a href="/profile">Profile</a></li>
          <li><a href="/cart"><i class="fa fa-shopping-cart"></i> Cart</a></li>
        </ul>
        <div class="navbar-right plain">
          {{#if currentUser}}
            <a style="..." href="/signout" class="btn btn-danger navbar-btn"><i class="fa fa-lock"></i>Sign Out {{currentUser.profile.firstname}} {{currentUser.profile.lastname}}</a> <!-- lock icon --> <!-- include package for lock icon -->

        {{else}}
          <a href="/signin" class="btn btn-default navbar-btn">Sign In</a>
          <a href="/register" class="btn btn-primary navbar-btn">Register</a>
        {{/if}}
      </div>
      </div>
    </div>
  </nav>
</template>
